#main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}


#side_bar > .menu {
    margin-left: 1vw;
    margin-bottom: 1vh;
    border-radius: 10px;
    padding: 1vh 1vw;
    width: 20vw;
    background-color: #262626;
}

#main_menu img {
    height: 60px;
}

#main_menu ul li {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 1vh 0;
}

#main_menu h3 {
    margin-left: 1vw;
}

#main_menu .button {
    padding: 1vh 1vw;
    width: 100%;
    border-radius: 9999px;
    border: 2px solid #F2F2F2;
}

#main_menu .highlight_bt {
    border: 2px solid #148aa6;
}

.highlight_bt > p {
    color: #148aa6;
}


#main_menu .button:hover {
    cursor: pointer;
    opacity: 0.7;
}


#second_menu #tidder_inc {
    margin-top: 2vh;
    padding-top: 1vh;
    border-top: 1px solid #F2F2F2;
}



#subtidder_menu #subtidder_banner {
    width: 9999%;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    margin: -1vh -1vw;
}

#subtidder_menu #subtidder_logo {
    border-radius: 100%;
    height: 40px;
    margin-top: -10px;
    border: 1px solid #1a1a1a;
}

#subtidder_menu li:not(:last-child) {
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.75vh;
}

#subtidder_menu li a {
    margin-left: 0.5vw;
}