/* Popup container */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-top:25px;
}

body{
    height:100%;
    width: 100%;
}


/* The actual popup (appears on top) */
.popup .popuptext {
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    z-index: 1;
    margin-left: 8vw;
    width: 65vw;
    height: 80vh;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
}

li {
    list-style:none;
    text-align:left;
    margin-bottom:2.8vh;
    display: flex;
}


.liste{
    width: 9vw;
    margin: 0;
    margin-top: 0.6vw;
    font-size:1.1vw
}

.listedate{
    width: 9vw;
    margin: 0;
    font-size:1.1vw;
}


.listeverif{
    width: 9vw;
    margin: 0;
    margin-top: 0.2vw;
    font-size:1.1vw;
}

.input_pseudo{
    height: 3.5vh;
    margin-left: 3vw;
    width: 17vw;
}

.input_mail{
    height: 3.5vh;
    margin-left: 3vw;
    width: 17vw;
}

.input_birthdate{
    height: 3.5vh;
    margin-left: 3vw;
    width: 17vw;
}

.input_id{
    height: 3.5vh;
    margin-left: 3vw;
    width: 17vw;
}

.input_password{
    height: 3.5vh;
    margin-left: 3vw;
    width: 17vw;
}

.input_password_verif{
    height: 3.5vh;
    margin-left: 3vw;
    width: 17vw;
}