/*----------GENERAL----------*/

.post {
  height: fit-content;
  border: 1px solid #262626;
  border-radius: 5px;
  width: 75vw;
  padding: 1%;
  margin-bottom: 1vh;
  transition: .5s ease-out;
  background-color: #262626;
}

.post:hover {
  border: 1px solid #F2F2F2;
  cursor: pointer;
}

.post ul {
  list-style-type: none;
}

.post_icon {
  height: 32px;
}

.post a {
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

/*---------------------------*/

/*----------TOP----------*/

.post_upper {
  display: flex;
  align-items: center;
}

.post_upper > * {
  margin-right: 0.75%;
}

.post_upper img {
  border-radius: 50%;
  margin-right: 1%;
  height: 32px;
}

.post_upper > a {
  display: contents;
}

.post_upper a:hover {
  text-decoration: underline;
}

.post_upper > a p:hover {
  text-decoration: underline;
}

.post_upper > p {
  margin-left: 1vw;
}

.post_upper > .subreddit_name ~ *, .post_upper > .subreddit_name ~ * > * {
  color: #666666;
  font-size: 12px;
}

/*-----------------------*/

/*----------MID----------*/
.post_content{
    display: flex;
    justify-content: center;
}

.post_content > img {
  height: 660px;
}

/*-----------------------*/

/*----------BOT----------*/

.post_share, .post_bottom {
  display: flex;
  align-items: center;
}

.post_bottom > * {
  margin: 1vh 1% 0 1%;
}

/*-----------------------*/
