{{define "base"}}

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../style/master.css">
    <link rel="stylesheet" href="../style/components/search_bar.css">
    <link rel="stylesheet" href="../style/components/thread.css">
    <link rel="stylesheet" href="../style/components/create_sub.css">
    <link rel="stylesheet" href="../style/components/signup_popup.css">
    <link rel="stylesheet" href="../style/components/creat_post.css">
    <link rel="stylesheet" href="../style/pages/search.css">

    <script type="text/javascript" src="/scripts/master.js" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" type="image/x-icon" href="/images/global/favicon.ico">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
    <title>Tidder</title>
</head>

<body>

<div id="header">
    {{ template "header" . }}
</div>

<div id="main">
    {{ template "popups" . }}
    {{ template "content" . }}
</div>

<div id="footer">
    {{ template "footer" . }}
</div>

</body>
</html>

{{ end }}