<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="../style/master.css">
    <link rel="stylesheet" href="../style/components/search_bar.css">
    <link rel="stylesheet" href="../style/components/thread.css">
    <link rel="stylesheet" href="../style/create_sub.css">
    <link rel="stylesheet" href="../style/pages/subtidder.css">

    <script type="text/javascript" src="../scripts/master.js" defer></script>

    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="icon" type="image/x-icon" href="../images/global/favicon.ico">
    <title>Tidder</title>
  </head>

  <body>

    <div id="header">
      <a class="container" href="/">
        <img id="tidder_logo" src="../images/global/logo.png" alt="tidder logo">
        <h1 id="tidder_title">Tidder</h1>
      </a>

      <form class="container" action="" method="GET">
        <input id="searchTerm" type="text" placeholder="What are you looking for ?">
        <button id="searchButton" type="submit" >
          <i class='fa-solid fa-magnifying-glass'></i>
        </button>
      </form>

      <div class="container">
        <div id="create_sub_container" onclick="show_popup()">
          <img src="../images/global/cross.png" alt="create subtidder">
          <p>Create subtidder</p>
        </div>
        <img id="profile_picture" src="../images/global/empty_profile_picture.png" alt="profile picture">
        <p id="pseudonym">Nimajjj</p>
      </div>
    </div>

    <div id="main">
      <form id="create_sub_popup" method="post" style="display: none;">
        <ul>

          <li>
            <div id="title_container">
              <h2>Create a subtidder</h2>
              <a href="#" class="close" id="popup_sub_close" onclick="hide_popup()"></a>
            </div>
          </li>

          <li class="input_container">
            <label for="name">Subtidder name :</label>
            <div style="display: flex;">
              <p>t/</p><input type="text" name="name">
            </div>
          </li>

          <li class="input_container">
            <label for="logo">Subtidder logo :</label>
            <input type="file" name="logo" accept="image/jpeg, image/x-png">
          </li>

          <li class="img_container">
            <img id="logo_img" src="/images/subtidder/default_pp.png" alt="logo subtidder">
          </li>

          <li class="input_container">
            <label for="banner">Subtidder banner :</label>
            <input type="file" name="banner" accept="image/jpeg, image/x-png">
          </li>

          <li class="img_container">
            <img id="banner_img" src="/images/subtidder/default_banner.png" alt="banner subtidder">
          </li>

          <li>
            <label for="nsfw" style="font-weight: bold;">NSFW :</label>
            <input type="checkbox" name="nsfw">
          </li>

          <li class="img_container">
            <input id="submit_bt" type="submit" value="Submit">
          </li>

        </ul>
      </form>

      <img id="banner" src="/images/subtidder/default_banner.png" alt="banner">

      <div id="sub_header">
        <img src="../images/subtidder/{{.Sub.ProfilePicture}}" alt="sub logo">
        <div id="sub_top_container">
          <h2>t/{{.Sub.Name}}</h2>
          <div id="subscribe_bt">Subscribe</div>
        </div>
      </div>
      <div id="sub_bot_container">
        <div class="sub_tab">Posts</div>
        <div class="sub_tab">Infos</div>
        <div class="sub_tab" style="display: block;">Administration</div>
      </div>
      {{ range .Posts}}
        {{ range $post, $author := . }}
          <div class="post">
            <ul>
              <li class="post_upper">
                <a class="subreddit_name" href="/t/{{$.Sub.Name}}">
                  <img class="sub_logo" src="/images/subtidder/{{$.Sub.ProfilePicture}}" alt="subreddit logo">
                  <p>t/{{$.Sub.Name}}</p>
                </a>
                <p>Published by <a href="">u/{{$author.Name}}</a> {{$post.CreationDate}} </p>
              </li>
              <li class="post_title">
                <h2>{{$post.Title}}</h2>
              </li>
              <li class="post_content">
                {{if (eq $post.MediaUrl "")}}
                  <p>{{$post.Content}}</p>
                {{else}}
                  <img src="/images/posts/{{$post.MediaUrl}}" alt="post content">
                {{end}}
              </li>
              <li class="post_bottom">
                <img class="post_icon" src="../images/global/upvote.png" alt="upvote">
                <img class="post_icon" src="../images/global/empty_downvote.png" alt="downvote">
                <a href="">123 Comments</a>
                <a class="post_share" href="">
                  <img class="post_icon" src="../images/global/share.png" alt="share">
                  <p style="margin-left: 1vh;">Share</p>
                </a>
              </li>
            </ul>
          </div>
        {{end}}
      {{end}}
    </div>

    <div id="footer">
      <div class="container">
        <p>Tidder :</p>
        <ul>
          <li> <a href="#">Report a problem</a> </li>
          <li> <a href="#">Privacy policy</a> </li>
        </ul>
      </div>

      <div class="container">
        <p>Authors :</p>
        <ul>
          <li> <a href="https://github.com/Lunasphys" target="_blank">JEHAM Laurie</a> </li>
          <li> <a href="https://github.com/MaxYnovobry" target="_blank">OBRY Maxime</a> </li>
          <li> <a href="https://github.com/Nimajjj" target="_blank">BORELLO Benjamin</a> </li>
        </ul>
      </div>

      <div class="container last">
        <a href="/">
          <img id="tidder_logo" src="../images/global/logo.png" alt="tidder logo">
        </a>
        <a href=""> <!-- On mettera le lien vers les CGU ici aussi -->
          <p>Tidder Inc © 2022. Tous droits réservés</p>
        </a>
      </div>
    </div>

  </body>
</html>
