 {{ define "content"}}
<link rel="stylesheet" href="../../style/pages/authors_redirect.css">
<ul id="link_to_authorsimg" class="post">
    <li class="list">
        <img class="icone_link" src="../../images/global/nami.jpeg">
        <a id="Laurie"  href="/static/laurie_img.html">
            <p id="laurie_right"> Voir la creadesign Laurie </p>
        </a>
    </li>
    <li class="list">
        <img class="icone_link" src="../../images/global/bonk.jpg">
        <a id="Maxime" href="/static/maxime_img.html">
            <p id="maxime_right"> Voir l'ermite Maxime </p>
        </a>
    </li>
    <li class="list">
        <img class="icone_link" src="../../images/global/ben_icone.jpg">
        <a id="Benjamin" href="/static/benjamin_img.html">
            <p id="ben_right">Voir le babos Benjamin </p>
        </a>
    </li>
</ul>

{{end}}