 {{ define "content"}}
<link rel="stylesheet" href="../../style/pages/authors_redirect.css">
<ul id="link_to_authorsimg" class="post">
    <li class="list">
        <img id="maxime_icone" src="">
        <a id="Laurie"  href="/static/laurie_img.html"> Voir la creadesign laurie</a>
    </li>
    <li class="list">
        <img id="laurie_icone" src="">
    <a id="Maxime" href="/static/.html"> Voir l'hermite Maxime</a>
    </li>
    <li class="list">
        <img id="ben_icone" src="../../images/global/ben_icone.jpg">
        <a id="Benjamin" href="/static/benjamin_img.html"> Voir le babos Benjamin</a>
    </li>
</ul>

{{end}}