{{ define "content"}}
    <link rel="stylesheet" href="../../style/pages/cgu.css">
          <div id="content_cgu" class="post">
              <p class="titre">
                  <strong>CONDITIONS GÉNÉRALES D’UTILISATION  DU SITE TIDDER</strong>
              </p>
              <p class="titre">
                  <strong>ARTICLE 1. INFORMATIONS LÉGALES</strong>
              </p>
              <p class="text">En vertu de l’article 6 de la Loi n° 2004-575 du 21 juin 2004
                  pour la confiance dans l’économie numérique, il est précisé dans cet article l’identité des différents
                  intervenants dans le cadre de sa réalisation et de son suivi.</p>
              <p class="text">Le site Tidder est édité par :</p>
              <p class="text">Des étudiants d'ynov, dont le siège social est situé 2 Rue Corbusier 13090 Aix en Provence . </p>
                  <p class="text"> Téléphone : 07 86 02 86 48 Adresse e-mail : benjamin.borello@ynov.com</p>
              <p class="text">Le directeur de publication du site est Benjamin Borello.</p>
              <p class="text">Le site TIDDER est hébergé par :</p>
              <p class="text">blank</p>
              <p class="text">Le site Tidder est un forum communautaire </p>
              <p class="titre">
                  <strong>
                      ARTICLE 3. CONTACT
                  </strong>
              </p>
              <p class="text">
                  Pour toute question ou demande d’information concernant le site, ou tout signalement de contenu ou d’activités illicites,
                  l’utilisateur peut contacter l’éditeur à l’adresse e-mail suivante: benjamin.borello@ynov.com
              </p>
              <p class="titre">
                  <strong>ARTICLE 4. ACCEPTATION DES CONDITIONS D’UTILISATION</strong>
              </p>
              <p class="text">L’accès et l’utilisation du site sont soumis à l’acceptation et au respect des présentes Conditions Générales d’Utilisation.</p>
              <p class="text">L’éditeur se réserve le droit de modifier, à tout moment et sans préavis, le site et des services ainsi que les présentes CGU,
                  notamment pour s’adapter aux évolutions du site par la mise à disposition de nouvelles fonctionnalités ou la suppression ou la modification de fonctionnalités existantes.
              </p>
              <p class="text">Il est donc conseillé à l’utilisateur de se référer avant toute navigation à la dernière version des CGU,
                  accessible à tout moment sur le site. En cas de désaccord avec les CGU, aucun usage du site ne saurait être effectué par l’utilisateur.
              </p>
              <p class="titre">
                  <strong>ARTICLE 5. ACCÈS ET NAVIGATION</strong>
              </p>
              <p class="text">
                  L’éditeur met en œuvre les solutions techniques à sa disposition pour permettre l’accès au site 24 heures sur 24, 7 jours sur 7.
                  Il pourra néanmoins à tout moment suspendre, limiter ou interrompre l’accès au site ou à certaines pages de celui-ci afin de procéder à des mises à jours,
                  des modifications de son contenu ou tout autre action jugée nécessaire au bon fonctionnement du site.
              </p>
              <p class="text">
                  La connexion et la navigation sur le site Tidder valent acceptation sans réserve des présentes Conditions Générales d’Utilisation,
                  quelques soient les moyens techniques d’accès et les terminaux utilisés.
              </p>
              <p class="text">
                  Les présentes CGU s’appliquent, en tant que de besoin,
                  à toute déclinaison ou extension du site sur les réseaux sociaux et/ou communautaires existants ou à venir.
              </p>
              <p class="titre">
                  <strong>ARTICLE 6. GESTION DU SITE</strong>
              </p>
              <p class="text">Pour la bonne gestion du site, l’éditeur pourra à tout moment :</p>
              <ul>
                  <li class="gest">
                      suspendre, interrompre ou limiter l’accès à tout ou partie du site, réserver l’accès au site,
                      ou à certaines parties du site, à une catégorie déterminée d’internaute
                  </li>
                  <li class="gest">
                      supprimer toute information pouvant en perturber le fonctionnement ou entrant en contravention avec les lois nationales ou internationales
                  </li>
                  <li class="gest">
                      suspendre le site afin de procéder à des mises à jour.
                  </li>
              </ul>
              <p class="titre">
                  <strong>
                      ARTICLE 7. RESPONSABILITÉS
                  </strong>
              </p>
              <p class="text">
                  L’éditeur n’est responsable que du contenu qu’il a lui-même édité.
              </p>
              <p class="text">
                  L’éditeur n’est pas responsable :
              </p>
              <p class="text">
                  – en cas de problématiques ou défaillances techniques, informatiques ou de compatibilité du site avec un matériel ou logiciel quel qu’il soit ;
              </p>
              <p class="text">
                  – des dommages directs ou indirects,
                  matériels ou immatériels, prévisibles ou imprévisibles résultant de l’utilisation ou des difficultés d’utilisation du site ou de ses services ;
              </p>
              <p class="text">
                  – des caractéristiques intrinsèques de l’Internet,
                  notamment celles relatives au manque de fiabilité et au défaut de sécurisation des informations y circulant ;
              </p>
              <p class="text">
                  – des contenus ou activités illicites utilisant son site et ce,
                  sans qu’il en ait pris dûment connaissance au sens de la Loi n° 2004-575 du 21 juin 2004 pour
                  la confiance dans l’économie numérique et la Loi n°2004-801 du 6 août 2004 relative à la protection des personnes physiques à
                  l’égard de traitement de données à caractère personnel.
              </p>
              <p class="text">
                  Par ailleurs, le site ne saurait garantir l’exactitude, la complétude, et l’actualité des informations qui y sont diffusées.
              </p>
              <p class="text">
                  L’utilisateur est responsable :
              </p>
              <p class="text">
                  – de la protection de son matériel et de ses données
              </p>
              <p class="text">
                  – de l’utilisation qu’il fait du site ou de ses services
              </p>
              <p class="text">
                  – s’il ne respecte ni la lettre, ni l’esprit des présentes CGU.
              </p>
              <p class="titre">
                <strong>ARTICLE 8. LIENS HYPERTEXTES</strong>
              </p>
              <p class="text">
                  Le site peut contenir des liens hypertextes pointant vers d’autres sites internet sur lesquels Tidder n’exerce pas de contrôle.
                  Malgré les vérifications préalables et régulières réalisés par l’éditeur,
                  celui-ci décline tout responsabilité quant aux contenus qu’il est possible de trouver sur ces sites.
              </p>
              <p class="text">
                  L’éditeur autorise la mise en place de liens hypertextes
                  vers toute page ou document de son site sous réserve que la mise en place de ces liens ne soit pas réalisée à des fins commerciales ou publicitaires.
              </p>
              <p class="text">
                  En outre, l’information préalable de l’éditeur du site est nécessaire avant toute mise en place de lien hypertexte.
              </p>
              <p class="text">
                  Sont exclus de cette autorisation les sites diffusant des informations à caractère illicite,
                  violent, polémique, pornographique, xénophobe ou pouvant porter atteinte à la sensibilité du plus grand nombre.
              </p>
              <p class="text">
                  Enfin, Tidder se réserve le droit de faire supprimer
                  à tout moment un lien hypertexte pointant vers son site, si le site l’estime non conforme à sa politique éditoriale.
              </p>
              <p class="titre">
                <strong>ARTICLE 9. COLLECTE DE DONNÉES</strong>
              </p>
              <p class="text">
                  Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure
                  où il ne collecte aucune donnée concernant les utilisateurs.
              </p>
              <p class="titre">
                <strong>ARTICLE 10. COOKIES</strong>
              </p>
              <p class="text">
                  Le site a éventuellement recours aux techniques de “cookies” lui permettant de traiter des statistiques et des informations sur le trafic,
                  de faciliter la navigation et d’améliorer le service pour le confort de l’utilisateur,
                  lequel peut s’opposer à l’enregistrement de ces “cookies” en configurant son logiciel de navigation.
              </p>
              <p class="titre">
                  ARTICLE 11. PROPRIÉTÉ INTELLECTUELLE</strong>
              </p>
              <p class="text">
                  La structuration du site mais aussi les textes, graphiques, images, photographies, sons, vidéos et applications informatiques
                  qui le composent sont la propriété de l’éditeur et sont protégés comme tels par les lois en vigueur au titre de la propriété intellectuelle.
              </p>
              <p class="text">
                  Toute représentation, reproduction, adaptation ou exploitation partielle ou totale des contenus, marques déposées et services proposés par le site,
                  par quelque procédé que ce soit, sans l’autorisation préalable, expresse et écrite de l’éditeur,
                  est strictement interdite et serait susceptible de constituer une contrefaçon au sens des articles L. 335-2 et suivants du Code de la propriété intellectuelle.
                  Et ce, à l’exception des éléments expressément désignés comme libres de droits sur le site.
              </p>
              <p class="text">
                  L’accès au site ne vaut pas reconnaissance d’un droit et, de manière générale,
                  ne confère aucun droit de propriété intellectuelle relatif à un élément du site, lesquels restent la propriété exclusive de l’éditeur.
              </p>
              <p class="text">
                  Il est interdit à l’utilisateur d’introduire des données sur le site qui modifieraient ou qui seraient susceptibles d’en modifier le contenu ou l’apparence.
              </p>
              <p class="titre">
                <strong>ARTICLE 12. LOI APPLICABLE ET JURIDICTION COMPÉTENTE</strong>
              </p>
              <p class="text">
                  Les présentes Conditions Générales d’Utilisation sont régies par la loi française. En cas de différend et à défaut d’accord amiable,
                  le litige sera porté devant le tribunal d’Aix en Provence conformément aux règles de compétence en vigueur.
              </p>
    </div>
{{end}}
