{{define "content"}}
<link rel="stylesheet" href="../style/pages/profile_page.css">
<link rel="stylesheet" href="../style/master.css">
<link rel="stylesheet" href="../style/pages/subtidder.css">
<script type="text/javascript" src="/scripts/profile_page.js" defer></script>
    

<div id="container">
    <div id="first_block">
        <form method="post" id="profile_picture" name="profile_picture" enctype="multipart/form-data">
            <img id="default_png" src="{{blobToUrl .ProfilePageVD.Account.ProfilePicture}}"/>
            {{ if (eq .ProfilePageVD.Account.Id .Account.Id) }}
                <p>Change profile picture :</p>
                <input type="file" name="media_file" id="media_file" accept=".png, .jpg, .jpeg, .gif" onchange="readURL(this)"/>
            {{ end }}
        </form>
        <div id="info_account">
            <ul>
                <li>
                    <p class="pseudo">{{.ProfilePageVD.Account.Name}}</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="second_block">
        <div id="subtidder_joined">
            <div>
                <h2 class="Subtidder">
                    Subtidder joined
                </h2>
            </div>

            <ul class="liste_sub">
                {{ range .ProfilePageVD.Subtidders }}
                <li class="icone_subtidder">
                    <img class="icone_img_subtidder" src="{{blobToUrl .ProfilePicture}}">
                    <a id="name_subtidder" href="/t/{{.Name}}">t/{{.Name}}</a>
                </li>
                {{end}}
            </ul>

        </div>
        <div id="thread">
            <div id="posts">
                {{ if .ProfilePageVD.Posts }}
                    {{ range .ProfilePageVD.Posts }}
                        {{ if not .Redacted}}
                        <div class="post" onclick="location.href='/post/{{.Id}}'">
                            <ul>
                                <li class="post_upper">
                                    <a class="subreddit_name" href="/t/{{.SubtidderName}}">
                                        <img class="sub_logo" src="{{blobToUrl .SubtidderPP}}" alt="subreddit logo">
                                        <p>t/{{.SubtidderName}}</p>
                                    </a>
                                    <p>Published by <a href="/u/{{.AuthorName}}">u/{{.AuthorName}}</a> {{.CreationDate}} </p>
                                </li>
                                <li class="post_title">
                                    <h2>{{.Title}}</h2>
                                </li>
                                {{if (eq .MediaUrl "")}}
                                <li class="post_content">
                                    <p>{{.Content}}</p>
                                </li>
                                {{else}}
                                <li class="post_content" style="display: flex; justify-content: center;">
                                    <img src="{{blobToUrl .MediaUrl}}" alt="post content">
                                </li>
                                {{end}}
                                <li class="post_bottom">
                                    {{if (eq .Vote 1)}}
                                    <img class="post_icon vote_bt upvote_bt" state="active" src="../images/global/upvote.png" alt="{{.Id}} upvote">
                                    <p>{{.Score}}</p>
                                    <img class="post_icon vote_bt downvote_bt" state="empty"  src="../images/global/empty_downvote.png" alt="{{.Id}} downvote">
                                    {{else if (eq .Vote -1)}}
                                    <img class="post_icon vote_bt upvote_bt" state="empty" src="../images/global/empty_upvote.png" alt="{{.Id}} upvote">
                                    <p>{{.Score}}</p>
                                    <img class="post_icon vote_bt downvote_bt" state="active" src="../images/global/downvote.png" alt="{{.Id}} downvote">
                                    {{else}}
                                    <img class="post_icon vote_bt upvote_bt" state="empty" src="../images/global/empty_upvote.png" alt="{{.Id}} upvote">
                                    <p>{{.Score}}</p>
                                    <img class="post_icon vote_bt downvote_bt" state="empty" src="../images/global/empty_downvote.png" alt="{{.Id}} downvote">
                                    {{end}}

                                    <a href="">{{.NumberOfComments}} Comments</a>
                                    <a class="post_share" href="">
                                        <img class="post_icon" src="../images/global/share.png" alt="share">
                                        <p style="margin-left: 1vh;">Share</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        {{end}}
                    {{end}}
                {{ else }}
                <div id="empty">
                    <h2>Wow ! Such empty...</h2>
                </div>
                {{ end }}
            </div>

            {{ template "sidebar" . }}
        </div>
    </div>
</div>
</div>
{{ end }}