{{ define "content" }}
<link rel="stylesheet" href="../style/pages/profile_page.css">
<div id="container">
    <div id="first_block">
        <div id="profile_picture">
            <img id="default_png"src="../images/profiles/default.png">
            <button>change profil pic</button>
        </div>
        <div id="info_account">
            <ul>
                <li>
                    <p class="pseudo">Pseudonyme</p>
                </li>
                <li class="list">
                    <p class="left_para">Password : </p>
                    <p class="right_para_up">**********</p>
                </li>
                <li class="list">
                    <p class="left_para">Mail adress : </p>
                    <p class="right_para_mid">exemple.gmail.com</p>
                </li>
                <li class="list">
                    <p class="left_para">Birthday : </p>
                    <p class="right_para_down">12/12/20XX</p>
                </li>
            </ul>
        </div>
    </div>
    <div id="second_block">
        <div id="subtidder_joined">
            <div>
                <p class="Subtidder">
                    Subtidder joined
                </p>
            </div>
            <ul class="liste_sub">
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li>
                    t/SubtidderName
                </li>
                <li id="last_li">
                    t/SubtidderName
                </li>

            </ul>
        </div>
        <div id="thread">

        </div>
    </div>
</div>

{{ end }}