{{ define "content" }}
    <script type="text/javascript" src="/scripts/subtidder.js" defer></script>
    <script type="text/javascript" src="/scripts/upvote.js" defer></script>
    <link rel="stylesheet" href="../style/pages/subtidder.css">

    <div id="subtidder">
        <img id="banner" src="{{blobToUrl .SubtidderVD.Sub.Banner}}" alt="banner">
        <div id="sub_header">
            <img src="{{blobToUrl .SubtidderVD.Sub.ProfilePicture}}" alt="sub logo">
            <div id="sub_top_container">
            <h2>t/{{.SubtidderVD.Sub.Name}}</h2>
            {{if .Connected}}
                {{if .SubtidderVD.Subscribed}}
                <div id="subscribe_bt" onclick="SubscribeTo({{.Account.Id}}, {{.SubtidderVD.Sub.Id}})">Subscribe</div>
                {{else}}
                <div id="subscribe_bt" onclick="SubscribeTo({{.Account.Id}}, {{.SubtidderVD.Sub.Id}})">Unsubscribe</div>
                {{end}}
            {{end}}
            </div>
        </div>
        <div id="sub_bot_container">
            <div id="posts_tab" class="sub_tab" onclick="SwitchTab('posts')">Posts</div>
            <div id="infos_tab" class="sub_tab" onclick="SwitchTab('infos')">Infos</div>
            <div id="admin_tab" class="sub_tab" style="display: block;" onclick="SwitchTab('admin')">
                {{ if (eq .Account.Id .SubtidderVD.Sub.IdOwner) }}
                    Administration
                {{ end }}
            </div>
            
        </div>

        <div id="sub">
                <div id="infos">
                    <div class="post infos">
                        <h3>{{.SubtidderVD.Sub.Name}}'s infos :</h3><br>
                        <p id="info">{{.SubtidderVD.Sub.Infos}}</p>
                        {{ if (eq .Account.Id .SubtidderVD.Sub.IdOwner) }}
                            <textarea name="textarea_info" id="textarea_info" rows="5" style="display: none; width: 100%;"></textarea>
                            <img id="edit_info" class="edit_icon" src="/images/global/edit.png" alt="edit icon">
                            <div id="submit_info" class="button highlight_bt" style="display: none;">
                                <p>Submit</p>
                            </div>
                            <div id="cancel_info" class="button" style="display: none;">
                                <p>Cancel</p>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <div id="admin">
                    <div class="post infos">
                        <form method="post" enctype="multipart/form-data" name="sub_admin" id="sub_admin">
                            <h3>{{.SubtidderVD.Sub.Name}}'s administration :</h3><br>
                            <ul>
                                <li>
                                    <p>Banner :</p>
                                    <img id="banner_img" src="{{blobToUrl .SubtidderVD.Sub.Banner}}" alt="banner">
                                    <input type="file" name="banner_input" id="banner_input" accept=".png, .jpg, .jpeg" onchange="readURL(this, 'banner_img')">
                                </li>
                                <li>
                                    <p>Profile picture :</p>
                                    <img id="profile_img" src="{{blobToUrl .SubtidderVD.Sub.ProfilePicture}}" alt="profile picture">
                                    <input type="file" name="pp_input" id="pp_input" accept=".png, .jpg, .jpeg" onchange="readURL(this, 'profile_img')">
                                </li>
                                <li>
                                    <div id="submit_admin" class="button highlight_bt" onClick="document.forms['sub_admin'].submit().then(hystory.go(0));">
                                        <p>Submit</p>
                                    </div>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
        
                <div id="posts">
                {{ if .SubtidderVD.Posts }}
                    {{ range .SubtidderVD.Posts }}
                        <div class="post" onclick="location.href='/post/{{.Id}}'">
                            <ul>
                            <li class="post_upper">
                                <a class="subreddit_name" href="/t/{{.SubtidderName}}">
                                <img class="sub_logo" src="{{blobToUrl .SubtidderPP}}" alt="subreddit logo">
                                <p>t/{{.SubtidderName}}</p>
                                </a>
                                <p>Published by <a href="/u/{{.AuthorName}}">u/{{.AuthorName}}</a> {{.CreationDate}} </p>
                            </li>
                            <li class="post_title">
                                <h2>{{.Title}}</h2>
                            </li>
                                {{if (eq .MediaUrl "")}}
                                <li class="post_content">
                                    <p>{{.Content}}</p>
                                </li>
                                {{else}}
                                <li class="post_content" style="display: flex; justify-content: center;">
                                    <img src="{{blobToUrl .MediaUrl}}" alt="post content">
                                </li>
                                {{end}}
                            <li class="post_bottom">
                                {{if (eq .Vote 1)}}
                                    <img class="post_icon vote_bt upvote_bt" state="active" src="../images/global/upvote.png" alt="{{.Id}} upvote">
                                    <p>{{.Score}}</p>
                                    <img class="post_icon vote_bt downvote_bt" state="empty"  src="../images/global/empty_downvote.png" alt="{{.Id}} downvote">
                                {{else if (eq .Vote -1)}}
                                    <img class="post_icon vote_bt upvote_bt" state="empty" src="../images/global/empty_upvote.png" alt="{{.Id}} upvote">
                                    <p>{{.Score}}</p>
                                    <img class="post_icon vote_bt downvote_bt" state="active" src="../images/global/downvote.png" alt="{{.Id}} downvote">
                                {{else}}
                                    <img class="post_icon vote_bt upvote_bt" state="empty" src="../images/global/empty_upvote.png" alt="{{.Id}} upvote">
                                    <p>{{.Score}}</p>
                                    <img class="post_icon vote_bt downvote_bt" state="empty" src="../images/global/empty_downvote.png" alt="{{.Id}} downvote">
                                {{end}}
                                
                                <a href="">{{.NumberOfComments}} Comments</a>
                                <a class="post_share" href="">
                                <img class="post_icon" src="../images/global/share.png" alt="share">
                                <p style="margin-left: 1vh;">Share</p>
                                </a>
                            </li>
                            </ul>
                        </div>
                    {{end}}
                {{ else }}
                    <div id="empty">
                        <h2>Wow ! Such empty...</h2>
                    </div>
                {{ end }}
                </div>

                {{ template "sidebar" . }}
        </div>

        
    </div>    
{{ end }}