{{ define "content" }}
    <script type="text/javascript" src="/scripts/subtidder.js" defer></script>
    <script type="text/javascript" src="/scripts/upvote.js" defer></script>
    <script type="text/javascript" src="/scripts/subtidder_role.js" defer></script>
    <script type="text/javascript" src="/scripts/subtidder_roles_attribution.js" defer></script>
    
    <link rel="stylesheet" href="../style/pages/subtidder.css">
    <link rel="stylesheet" href="../../style/pages/modif_index.css">

    <div id="subtidder">
        <img id="banner" src="{{blobToUrl .SubtidderVD.Sub.Banner}}" alt="banner">
        <div id="sub_header">
            <img src="{{blobToUrl .SubtidderVD.Sub.ProfilePicture}}" alt="sub logo">
            <div id="sub_top_container">
            <h2>t/{{.SubtidderVD.Sub.Name}}</h2>
            {{if .Connected}}
                {{if .SubtidderVD.Subscribed}}
                <div id="subscribe_bt" onclick="SubscribeTo({{.Account.Id}}, {{.SubtidderVD.Sub.Id}})">Subscribe</div>
                {{else}}
                <div id="subscribe_bt" onclick="SubscribeTo({{.Account.Id}}, {{.SubtidderVD.Sub.Id}})">Unsubscribe</div>
                {{end}}
            {{end}}
            </div>
        </div>
        <div id="sub_bot_container">
            <div id="posts_tab" class="sub_tab" onclick="SwitchTab('posts')">Posts</div>
            <div id="infos_tab" class="sub_tab" onclick="SwitchTab('infos')">Infos</div>
            <div id="admin_tab" class="sub_tab" style="display: block;" onclick="SwitchTab('admin')">
                {{ if or (eq .Account.Id .SubtidderVD.Sub.IdOwner) (hasAccess .SubtidderVD.UserRole.Access "manage_subject,manage_role,ban_user") }}
                    Administration
                {{ end }}
            </div>
            
        </div>

        <div id="sub">
                <div id="infos">
                    <div class="post infos">
                        <h3>{{.SubtidderVD.Sub.Name}}'s infos :</h3><br>
                        <p id="info">{{.SubtidderVD.Sub.Infos}}</p>
                        {{ if or (eq .Account.Id .SubtidderVD.Sub.IdOwner) (hasAccess .SubtidderVD.UserRole.Access "manage_subject") }}
                            <textarea name="textarea_info" id="textarea_info" rows="5" style="display: none; width: 100%;"></textarea>
                            <img id="edit_info" class="edit_icon" src="/images/global/edit.png" alt="edit icon">
                            <div id="submit_info" class="button highlight_bt" style="display: none;">
                                <p>Submit</p>
                            </div>
                            <div id="cancel_info" class="button" style="display: none;">
                                <p>Cancel</p>
                            </div>
                        {{ end }}
                    </div>
                </div>

                <div id="admin">
                    <div class="post infos">
                        <form method="post" enctype="multipart/form-data" name="sub_admin" id="sub_admin">
                            <div id="admin_header">
                                <div id="admin_tab_gen" class="admin_tab_selected" onclick="SwitchAdminTab('general')">General</div>
                                <div id="admin_tab_rol" onclick="SwitchAdminTab('roles')">Roles</div>
                                <div id="admin_tab_users" onclick="SwitchAdminTab('users')">Users</div>
                            </div>

                            <ul style="display: block;" id="admin_gen">
                                <li>
                                    <p>Banner :</p>
                                    <img id="banner_img" src="{{blobToUrl .SubtidderVD.Sub.Banner}}" alt="banner">
                                    <input type="file" name="banner_input" id="banner_input" accept=".png, .jpg, .jpeg" onchange="readURL(this, 'banner_img')">
                                </li>
                                <li>
                                    <p>Profile picture :</p>
                                    <img id="profile_img" src="{{blobToUrl .SubtidderVD.Sub.ProfilePicture}}" alt="profile picture">
                                    <input type="file" name="pp_input" id="pp_input" accept=".png, .jpg, .jpeg" onchange="readURL(this, 'profile_img')">
                                </li>
                                {{ if or (eq .Account.Id .SubtidderVD.Sub.IdOwner) (hasAccess .SubtidderVD.UserRole.Access "manage_subject") }}
                                    <li>
                                        <div id="submit_admin" class="role_bt" onClick="document.forms['sub_admin'].submit().then(hystory.go(0));" style="width: fit-content; padding: 0 2vw;">
                                            <p style="width: 100%;">Submit</p>
                                        </div>
                                    </li>
                                {{ end }}
                            </ul>

                            <table style="display: none;" id="admin_roles">
                                <tr>
                                    <th>Role</th>
                                    <th>Create post</th>
                                    <th>Pin</th>
                                    <th>Moderate post</th>
                                    <th>Ban user</th>
                                    <th>Manage role</th>
                                    <th>Manage subtidder</th>
                                </tr>
                                <tr id="role_-1" class="role_row">
                                    <td>User</td>
                                    <td><input type="checkbox" {{ if (eq .SubtidderVD.Sub.CanCreatePost 1) }} checked {{ end }}></td>
                                    <td style="color: red;"></td>
                                </tr>
                                {{ range .SubtidderVD.Roles }}
                                    <tr id="role_{{.Role.Id}}" class="role_row">
                                        <td><input type="text" placeholder="Role Name" value="{{.Role.Name}}"></td>
                                        <td><input type="checkbox" {{if eq .Access.CreatePost 1}} checked {{end}}></td>
                                        <td><input type="checkbox" {{if eq .Access.Pin 1}} checked {{end}}></td>
                                        <td><input type="checkbox" {{if eq .Access.ManagePost 1}} checked {{end}}></td>
                                        <td><input type="checkbox" {{if eq .Access.BanUser 1}} checked {{end}}></td>
                                        <td><input type="checkbox" {{if eq .Access.ManageRole 1}} checked {{end}}></td>
                                        <td><input type="checkbox" {{if eq .Access.ManageSub 1}} checked {{end}}></td>
                                        {{ if or (eq $.Account.Id $.SubtidderVD.Sub.IdOwner) (hasAccess $.SubtidderVD.UserRole.Access "manage_role") }}
                                            <td class="remove_row" style="color: red;" onclick="removeRow(this)">X</td>
                                        {{ end }}
                                    </tr>
                                {{ end }}
                                {{ if or (eq .Account.Id .SubtidderVD.Sub.IdOwner) (hasAccess .SubtidderVD.UserRole.Access "manage_role") }}
                                    <tr id="create_role">
                                        <td class="role_bt" onclick="AddRoleRow()">
                                            <p style="width: 100%;">Create Role</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="role_bt" onclick="UpdateRoles()">
                                            <p style="width: 100%;">Submit</p>
                                        </td>
                                    </tr>
                                {{ end }}
                            </table>

                            <table style="display: none;" id="admin_users">
                                <tr>
                                    <th>User</th>
                                    <th>Role</th>
                                    <th>Ban</th>
                                </tr>
                                {{ range $user := .SubtidderVD.SubscribedUser}}
                                    <tr class="role_attribution_row">
                                        <td>
                                            <a href="/u/{{.Account.Name}}" {{if .Banned}} style="color: red;" {{ else if (eq .Account.Id $.SubtidderVD.Sub.IdOwner) }} style="font-weight: bold; color: #148aa6;" {{end}} user_id="{{.Account.Id}}">u/{{.Account.Name}}</a>
                                        </td>
                                        {{ if (ne .Account.Id $.SubtidderVD.Sub.IdOwner) }}
                                            <td>
                                                <select name="user_role" class="select_role">
                                                    {{ if eq .Account.Name $.Account.Name }}
                                                        <option value="{{$.SubtidderVD.UserRole.Role.Id}}">{{$.SubtidderVD.UserRole.Role.Name}}</option>
                                                    {{ else }}
                                                        {{ if or (eq $.Account.Id $.SubtidderVD.Sub.IdOwner) (hasAccess $.SubtidderVD.UserRole.Access "manage_role") }}
                                                            <option value="-1">User</option> 
                                                            {{ range $.SubtidderVD.Roles }}
                                                                <option value="{{.Role.Id}}"  {{if eq .Role.Id $user.Role.Id}} selected {{end}}>{{.Role.Name}}</option>
                                                            {{ end }}
                                                        {{ else }}
                                                                <option value="{{.Role.Id}}" >{{.Role.Name}}</option>
                                                        {{ end}}
                                                    {{ end }}
                                                </select>
                                            </td>
                                            {{ if or (eq $.Account.Id $.SubtidderVD.Sub.IdOwner) (hasAccess $.SubtidderVD.UserRole.Access "ban_user") }}
                                                <td>
                                                    <input type="checkbox" class="ban_checkbox" ban="{{.Banned}}" name="{{.Account.Id}}" {{if .Banned}} checked {{end}}>
                                                </td>
                                            {{ end }}
                                        {{ end }}
                                    </tr>
                                {{ end }}
                                {{ if or (eq $.Account.Id $.SubtidderVD.Sub.IdOwner) (hasAccess $.SubtidderVD.UserRole.Access "manage_role,ban_user")}}
                                    <tr>
                                        <td class="role_bt" onclick="UpdateUser()">
                                            <p style="width: 100%;">Submit</p>
                                        </td>
                                    </tr>
                                {{ end }}
                            </table>
                        </form>
                    </div>
                </div>
        
                <div id="posts">
                {{ if .SubtidderVD.Posts }}
                    {{ range .SubtidderVD.Posts }}
                        {{ if not .Redacted }}
                            <div class="post {{if .Pinned}} pinned_post {{end}} " onclick="location.href='/post/{{.Id}}'">
                                <ul>
                                <li class="post_upper">
                                    <a class="subreddit_name" href="/t/{{.SubtidderName}}">
                                        <img class="sub_logo" src="{{blobToUrl .SubtidderPP}}" alt="subreddit logo">
                                        <p>t/{{.SubtidderName}}</p>
                                    </a>
                                    <p>Published by <a href="/u/{{.AuthorName}}">u/{{.AuthorName}}</a> {{.CreationDate}} </p>
                                    {{if .Pinned}} <p style="color:#148aa6; opacity: 0.8;">Pin</p> {{end}}
                                </li>
                                <li class="post_title">
                                    <h2>{{.Title}}</h2>
                                </li>
                                    {{if (eq .MediaUrl "")}}
                                    <li class="post_content">
                                        <p>{{.Content}}</p>
                                    </li>
                                    {{else}}
                                    <li class="post_content" style="display: flex; justify-content: center;">
                                        <img class="post_image" src="{{blobToUrl .MediaUrl}}" alt="post content">
                                    </li>
                                    {{end}}
                                <li class="post_bottom">
                                    {{if (eq .Vote 1)}}
                                        <img class="post_icon vote_bt upvote_bt" state="active" src="../images/global/upvote.png" alt="{{.Id}} upvote">
                                        <p>{{.Score}}</p>
                                        <img class="post_icon vote_bt downvote_bt" state="empty"  src="../images/global/empty_downvote.png" alt="{{.Id}} downvote">
                                    {{else if (eq .Vote -1)}}
                                        <img class="post_icon vote_bt upvote_bt" state="empty" src="../images/global/empty_upvote.png" alt="{{.Id}} upvote">
                                        <p>{{.Score}}</p>
                                        <img class="post_icon vote_bt downvote_bt" state="active" src="../images/global/downvote.png" alt="{{.Id}} downvote">
                                    {{else}}
                                        <img class="post_icon vote_bt upvote_bt" state="empty" src="../images/global/empty_upvote.png" alt="{{.Id}} upvote">
                                        <p>{{.Score}}</p>
                                        <img class="post_icon vote_bt downvote_bt" state="empty" src="../images/global/empty_downvote.png" alt="{{.Id}} downvote">
                                    {{end}}
                                    
                                    <a href="">{{.NumberOfComments}} Comments</a>
                                    <a class="post_share" href="">
                                    <img class="post_icon" src="../images/global/share.png" alt="share">
                                    <p style="margin-left: 1vh;">Share</p>
                                    </a>
                                </li>
                                </ul>
                            </div>
                        {{end}}
                    {{end}}
                {{ else }}
                    <div id="empty">
                        <h2>Wow ! Such empty...</h2>
                    </div>
                {{ end }}
                </div>

                {{ template "sidebar" . }}
        </div>

        
    </div>    
{{ end }}