.background{
    background-color:#1A1A1A;
}




#Laurie{

}

#ben_le_plus_beau{
    width: 35%;
    position:absolute;
    left:32%;
    top:4%
}

#link_to_authorsimg{
    text-align: center;
}

.list{
    font-size:3vh;
    padding-bottom:5vh;
    padding-top:5vh;
}

.icone_link {
    width: 2.8vw;
    height: 2.8vh;
    padding-right: 0.5vw;
}


#maxime{
    width: 50vw;
    position:absolute;
    left:24.4%;
    top:12%;
}

#laurie_la_clodo{
    width: 38vw;
    height: 90vh;
    position:absolute;
    left:30%;
    top:5%
}
