#Laurie{

}

#ben_le_plus_beau{
    width: 40%;
    height:10%;
}

#link_to_authorsimg{
    text-align: center;
}

.list{
    font-size:2.5vh;
    padding-bottom:2vh;
    padding-top:2vh;
}

#ben_icone{
    width: 2vw;
    height:2vh;
    padding-right:0.5vw;
}

#maxime_icone{
    width: 2vw;
    height:2vh;
    padding-right:0.5vw;
}

#laurie_icone{
    width: 2vw;
    height:2vh;
    padding-right:0.5vw;
}

#maxime{
    width: 60%;
    height:40%;
}

#laurie_la_clodo{
    width: 60%;
    height:10%;
}