


#content_cgu {
    padding-left:1vw;
    padding-right:1vw
}
.text{
    color: #F2F2F2;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 20px;
    font-weight: 300;
    font-family: "Noto Sans", sans-serif;
    padding-left:1.5vw
}


.titre{
    padding-bottom:2vh;
    padding-top:1vh;
}


.gest{
    padding-left: 1.5vw;
    padding-bottom: 1.5vh;
}

.post:hover{
    border:0px;
}

