

#side_bar {
    display: none;
}

#profile_picture {

    margin-right:10vh;
    flex-wrap: wrap;
}

#first_block{
    display:flex;
    margin-bottom:10vh;
    position:relative;
    left:2vw;
    top:5vh;
}

.list{
    display:flex;
    flex-direction:row;
    margin-top:3vh
}

#default_png{
    border-radius:50%;
    
    width:8vw;
    height:8vw;

    object-fit: cover;
}

#info_account{
    position:relative;

}

.left_para{
    font-size:28px
}

.right_para_up{
    margin-left:6.8vh;
    margin-top:1vh;
    font-size:22px;
}

.right_para_mid{
    margin-left:5vh;
    margin-top:0.6vh;
    font-size:22px;
}

.right_para_down{
    margin-left:8.1vh;
    margin-top:0.9vh;
    font-size:22px;
}

.pseudo{
    font-size:48px;
    position:relative;
    top:5vh;
    padding-left:0.5vw
}

#container{
    display:flex;
    flex-direction:column;
    position:relative;
    justify-content:space-between;
    width: 99vw;
    height:99vh
}

.Subtidder{
    background-color: #666666;
    width: 24.8vw;
    height: 10vh;
    font-size: 30px;
    text-align: center;
    padding: 2.5vh;
    letter-spacing: -0.04vw;
}

#subtidder_joined{
    border: solid grey 1px;
    width:25vw;

}

.liste_sub li{
    padding-top:2.5vh;
    padding-bottom: 2.5vh;
    font-size:18px;
    padding-left:2vw;
}

ul.liste_sub{
    margin-top:2vh;
}

#last_li{
    margin-bottom:3vh
}

#thread{
    width:65vw;
    margin-left:5vw;
}

.liste_sub{
    overflow-y: scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    height:75vh;
}

#second_block {
    display: flex;
}

#post_content {
    margin-left: 12vh;
}


ul.list_post {
    border-bottom: solid 1px white;
    padding: 15px;
}

.icone_subtidder{
    display:flex;
    flex-direction: row;
}

.icone_img_subtidder{
    border-radius: 50%;
    width: 48px;
    height: 48px
}

#name_subtidder{
    padding-left:2vw;
    position:relative;
    bottom:0.3vh
}

#posts{
    overflow-y: scroll;
    overflow-x:hidden;
    scroll-behavior: smooth;
    height:87.8vh;
}

.sumbit_bt {
    width: fit-content;
    border: solid 1px #F2F2F2;
    padding: 0 2vw;
}

.sumbit_bt:hover {
    cursor: pointer;
    opacity: 0.8;
}