body {
    background-image: url("/images/global/static_background.png");
}

#side_bar {
    display: none;
}

#signup {
    margin-top: 2vh;
    display: flex;
    flex-direction: column;
    background-color: #262626;
    width: 50vw;
    border-radius: 15px;
    padding: 1vh 1vw;
}

#signup_main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#signup_main p {
    font-size: 22px;
}

#signup_main li {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 2vh 0;
}

#signup_main input:not(#submit_bt), select {
    height: 3.5vh;
    width: 12vw;
    margin-left: 2.5vw;
}


#bt_container {
    margin-top: .5vh;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.button {
    padding: 1vh 1vw;
    width: 33%;
    border-radius: 9999px;
    border: 2px solid #F2F2F2;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 22px;
}


.highlight_bt {
    border: 2px solid #148aa6;
}

.highlight_bt > p {
    color: #148aa6;
}


.button:hover {
    cursor: pointer;
    opacity: 0.7;
}
