#banner {
  margin-top: -1vh;
  object-fit: cover;
  width: 100vw;
  height: 180px;
}

#subtidder #sub {
  display: flex;
  justify-content: center;
}

#sub_header {
  display: flex;
  align-items: center;
  background-color: #262626;
  width: 100vw;
  padding: 2vh 1vw;
}

#sub_top_container {
  display: flex;
  align-items: center;
  width: 50vw;
}

#sub_header > img {
  height: 90px;
  border-radius: 50%;
  margin-right: 1.5vw;
}

#subscribe_bt {
  margin-left: 1vw;
  padding: 0.75%;
  background-color: #666666;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
}

#sub_bot_container {
  background-color: #262626;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  margin-bottom: 2vh;
  padding-left: 7vw;
}

.sub_tab {
  padding: 0 .33vw;
  font-size: 18px;
  cursor: pointer;
  margin-right: 1vw;
  border-bottom: 0.5vh solid #1A1A1A
}
