{{ define "header" }}
    <a class="container" href="/">
      <img id="tidder_logo" src="/images/global/logo.png" alt="tidder logo">
      <h1 id="tidder_title">Tidder</h1>
    </a>

    {{if .Connected}}
      {{template "search_bar" .}}

      <div class="container" style="margin-right: 2vw;">
        <img id="profile_picture" src="{{blobToUrl .Account.ProfilePicture}}" alt="profile picture">
        <p id="pseudonym">{{.Account.Name}}</p>
      </div>
    {{else}}
      <div style="margin-right: 5vw;">
        {{template "search_bar" .}}
      </div>
    {{end}}

{{ end }}