{{ define "popups" }}
    <form id="create_sub_popup" method="post" style="display: none;">
        <ul>

          <li>
            <div id="title_container">
              <h2>Create a subtidder</h2>
              <a href="#" class="close" id="popup_sub_close" onclick="hide_popup()"></a>
            </div>
          </li>

          <li class="input_container">
            <label for="name">Subtidder name :</label>
            <div style="display: flex;">
              <p>t/</p><input type="text" name="name">
            </div>
          </li>

          <li class="input_container">
            <label for="logo">Subtidder logo :</label>
            <input type="file" name="logo" accept="image/jpeg, image/x-png">
          </li>

          <li class="img_container">
            <img id="logo_img" src="/images/global/no-image.jpg" alt="logo subtidder">
          </li>

          <li class="input_container">
            <label for="banner">Subtidder banner :</label>
            <input type="file" name="banner" accept="image/jpeg, image/x-png">
          </li>

          <li class="img_container">
            <img id="banner_img" src="/images/global/no-image.jpg" alt="banner subtidder">
          </li>

          <li>
            <label for="nsfw" style="font-weight: bold;">NSFW :</label>
            <input type="checkbox" name="nsfw" value='0'>
          </li>

          <li>
            <p id="create_subtidder_error">{{.Errors.CreateSubtidder}}</p>
          </li>

          <li class="img_container">
            <input id="submit_bt" type="submit" value="Submit">
          </li>

        </ul>
      </form>

      <form id="create_post_popup" method="post">
        <ul>
            <li>
                <div id="title_container">
                    <h2>Create a post</h2>
                    <a class="close" onclick="hide_post_popup()"></a>
                </div>
            </li>
            <li class="input_container">
                <div class="bloc">
                    <div class="select">
                        <select name="post_subtidder" id="post_subtidder_select">
                            <option value="-1">Which Subtidder ?</option>
                            {{range .CreatePostsVD.SubscribedSubjects}}
                                <option value="{{.Id}}">t/{{.Name}}</option>
                            {{end}}
                        </select>
                    </div>
                </div>
            </li>

            <li class="input_container ">
                <div class="advice_post">
                    <p>1) Check our FAQ before posting. <br/>2) Anything past the anime timeline is considered a spoiler. Make sure you correctly hide your text and images with a spoiler tag. <br/>3) Spoilers on title will result in the post's removal. <br/>4) No ALL CAPS titles.</p>
                </div>
            </li>
            <li class="input_container">
                <textarea placeholder="Title" class="title_area" name="post_title" rows="1" cols="35"></textarea><br>
            </li>
            
            <textarea placeholder="Write something here..." class="txt_container" name="post_content" rows="12" cols="35"></textarea><br>
            <input type="submit" name="submit_post" value="Envoyer">
            <p id="create_post_error">{{.Errors.CreatePost}}</p>
        </ul>
      </form>

      <form id="signup_popup" class="popup" method="post">
        <div id="title_container">
            <h2>Create an account</h2>
            <a href="#" class="close" id="popup_sub_close" onclick="hide_signup_popup()"></a>
        </div>
        <div id="main_part">
            <div id="left_part">
                <ul>
                    <li class="">
                        <p class="liste">Pseudo : </p>
                        <input class="input_pseudo" type="text" name="pseudo_input"/>
                    </li>
                    <li class="">
                        <p class="liste">Mail address : </p>
                        <input class="input_mail" type="text" name="email_input"/>
                    </li>
                    <li class="">
                        <p class="liste">Genre : </p>
                        <select class="sexe_input" id="sexe-select" name="sexe">
                            <option value="">--Please choose an option--</option>
                            <option value="Man">Man</option>
                            <option value="Woman">Woman</option>
                            <option value="Other">Other</option>
                        </select>
                    </li>
                    <li class="">
                        <p class="listedate">Birthdate : </p>
                        <input class="input_birthdate" type="date" name="birthdate_input"/>
                    </li>
                    <li class="">
                        <p class="liste">Password : </p>
                        <input class="input_password" type="text" name="password_input"/>
                    </li>
                </ul>
            </div>

            <div id="right_part">
                <ul>
                    <li id="pp_title">
                        <label for="logo">Profile picture :</label>
                    </li>
                    <li id="pp_container">
                        <img id="id_logo" src="../images/global/no-image.jpg" alt="logo subtidder">
                        <input type="file" name="logo" accept="image/jpeg, image/x-png">
                    </li>
                    <li class="">
                        <p class="listespef">Student ID : </p>
                        <input class="input_id"type="text" name="id_input"/>
                    </li>
                    <li>
                        <p class="listespefdouble">Password verification : </p>
                        <input class="input_password_verif" type="text" name="passwordverif_input"/>
                    </li>
                </ul>
            </div>
        </div>
        <input id="submit_bt" type="submit" value="Submit">
        <p id="signup_error" style="color: #FF4400; font-weight: bold;">{{.Errors.Signup}}</p>
      </form>

      <form id="signin_popup" class="popup" method="post">
        <div id="signin_title_container">
            <h2>Sign in</h2>
            <a href="#" class="close" id="popup_signin_close" onclick="hide_signin_popup()"></a>
        </div>
        <div id="main_part">
            <div id="left_part">
                <ul>
                    <li class="">
                        <p class="liste">Pseudo : </p>
                        <input class="input_pseudo_signin" type="text" name="input_pseudo_signin"/>
                    </li>
                    <li class="">
                        <p class="liste">Password : </p>
                        <input class="input_password_signin" type="text" name="input_password_signin"/>
                    </li>
                </ul>
            </div>
        </div>
        <input id="submit_signin_bt" type="submit" value="SubmitSignin" name="SubmitSignin">
        <p id="signin_error" style="color: #FF4400; font-weight: bold;">{{.Errors.Signin}}</p>
      </form>
{{ end }}