/*----------GENERAL----------*/

ul {
    list-style-type: none;
}



/*---------------------------*/


/*----------POPUP----------*/

#create_sub_popup {
    position: fixed;
    border: 1px solid #666666;
    padding: 1%;
    border-radius: 10px;
    background-color: #262626;
}

/*-------------------------*/


/*----------CLOSE BT----------*/

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.75;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #F2F2F2;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/*----------------------------*/


/*----------TITLE----------*/

#title_container {
    margin-bottom: 2.5%;
    padding: 2.5%;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
}

/*-------------------------*/


/*----------INPUTS----------*/

.input_container {
    display: flex;
    justify-content: space-between;
}

.input_container > label {
    font-weight: bold;
}

/*--------------------------*/


/*----------IMGs----------*/

#logo_img {
    border-radius: 50%;
    height: 255px;
}

#banner_img {
    object-fit: cover;
    width: 728px;
    height: 90px;
}

.img_container {
    display: flex;
    justify-content: center;
}

/*------------------------*/


#submit_bt {
    height: 5vh;
    width: 10vw;
    font-size: 32px;
    font-weight: bold;
    margin-top: 1vh;
}

select {
    appearance: none;
    outline: 0;
    border: 0 !important;
    background-color: #1A1A1B;
    background-image: none;
    box-shadow: none;
    font-size: 1.2em;
}

select option {
    background: #1A1A1B;
    color: white;
}


/* div .select*/
.select {
    position: relative;
    width: 350px;
    height: 45px;
    overflow: hidden;
    border-radius: 5px;
    border: 1px solid #CED4DA;
}

/* balise select*/
select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding-left: 15px;
    color: #555555;
    cursor: pointer;
}


/* flèche */
.select::after {
    content: '\276F';
    position: absolute;
    top: 20%;
    right: 0;
    padding: 0 15px;
    background: none;
    pointer-events: none;
    transform: rotate(90deg);
    font-size: 1.5em;
    background: #1a1a1b;
}


.select:hover::after {
    color: #FA6141;
}

.advice_post {
    width: 62vw;
    background-color: #1A1A1B;
    color: #555555;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid #CED4DA;
    margin-top: 2%;
}

/*--------------------------*/


/*----------Text zone + BB code----------*/

textarea {
    width: 61.8vw;
    height: 25.7vh;
    background-color: #1A1A1B;
    color: #555555;
    font-size: 15px;
}

.txt_container {
    width: 62vw;
    height: 40vh;
    background-color: #1A1A1B;
    color: #555555;
    font-size: 15px;
    border-radius: 5px 5px 0px 0px;
    border: 1px solid #CED4DA;
    margin-top: 2%;
}

.button_txt {
    display: inline-flex;
    gap: 15px;
    padding: 2.5%;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;

}

.button_post {
    display: flex;
    gap: 9px;
}

.option_txt {
    align-self: center;
}

.BBcode {
    display: inline-flex;
    width: 100%;
    border-bottom: 1px solid #F2F2F2;
}
.picto {
    width: 9%;
}

.picto_BB {
    width: 37%;
}


#list_picto {
    border-right: 1px solid #666666;
    text-align-last: center;
    padding-top: 1vh;
}