/*----------GENERAL----------*/

ul {
  list-style-type: none;
}

#main li {
  margin-bottom: 1vh;
}

/*---------------------------*/


/*----------TITLE----------*/

#title_container {
  margin-bottom: 2.5%;
  padding: 2.5%;
  width: 100%;
  border-bottom: 1px solid #F2F2F2;
}

/*-------------------------*/


/*----------INPUTS----------*/

.input_container {
  display: flex;
  justify-content: space-between;
}

.input_container > label {
  font-weight: bold;
}

/*--------------------------*/


/*----------IMGs----------*/

#logo_img {
  border-radius: 50%;
  height: 255px;
}

#banner_img {
  object-fit: cover;
  width: 728px;
  height: 90px;
}

.img_container {
  display: flex;
  justify-content: center;
}

/*------------------------*/


#submit_bt {
  height: 5vh;
  width: 10vw;
  font-size: 32px;
  font-weight: bold;
  margin-top: 1vh;
}
