/* ----------Normalize CSS---------- */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: "Noto Sans", sans-serif;
}

/* --------------------------------- */


/* ----------BODY---------- */

body {
		display: flex;
		flex-direction: column;
		height: 100vh;
		overflow-x: hidden;
		background-color: #1A1A1A;
		color: #F2F2F2;
}

body > div {
	width: 100vw;
}

a {
	color: #F2F2F2;
}

/* ------------------------ */


/* ----------HEADER---------- */

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1vh 1vw;
	margin-bottom: 1vh;
	background-color: #262626;
}

#header .container {
	display: flex;
	align-items: center;
}

#header img {
	height: 65px;
	margin-right: 1vw;
}

#header #profile_picture {
	height: 45px;	/* photo de profile légérement + petite que le logo */
	border-radius: 50%;
}

#header a {
	text-decoration: none;
}

#header h1 {
	font-size: 48px;
}

#header #pseudonym {
	font-size: 32px;
}

/* -------------------------- */


/* ----------MAIN---------- */

#main {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1 1 auto;
}

/* ------------------------ */


/* ----------FOOTER---------- */

#footer {
	bottom: 0%;
	padding: 1vh 1vw;
	display: flex;
	align-items: center;
	background-color: #262626;
}

#footer .container {
	height: 100%;
	width: 20vw;
	border-right: 1px solid #1A1A1A;
	padding: 1vh 1vw;
}

#footer .container.last {
	width: 100%;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

#footer img {
	height: 75px;
	margin-right: 1vw;
}

#footer a {
	text-decoration: none;
}

#footer p {
	font-weight: bold;
}

#footer ul {
	list-style-type: none;
	padding-left: 1vw;
}

/* -------------------------- */
